#Excluir archivo de base de datos
conexion.php

#Excluir archivo html y docs innecesariosa de chartjs
chart.js-3.9.1/package/dist/docs

#Excluir archivos de pruebas
css/menu.css
template/menu.php
js/sweet_alert.js
pages/inicio.php